.pacman-page {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pacman {
  width: 40px;
  height: 40px;
  background-color: #fede00;
  border-radius: 50%;
  position: absolute;
  top: -20px; /* Adjusted to be on the border */
  left: -20px; /* Adjusted to be on the border */
  transition: all 0.2s ease-in-out;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 50%, 50% 50%, 50% 0%);
  animation: rotateMouth linear infinite;
  transform: rotate(45deg);
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px dotted black;
}

.ready-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .pacman {
  animation: movePacman linear infinite;
  animation-duration: calc(3s / var(--pacman-speed));
}

@keyframes movePacman {
  0% {
    left: -20px;
    top: -20px;
    transform: rotate(0deg);
  }
  25% {
    left: 180px;
    top: -20px;
    transform: rotate(90deg);
  }
  50% {
    left: 180px;
    top: 180px;
    transform: rotate(180deg);
  }
  75% {
    left: -20px;
    top: 180px;
    transform: rotate(270deg);
  }
  100% {
    left: -20px;
    top: -20px;
    transform: rotate(360deg);
  }
}
