/* index.css */

* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: white;
  min-height: 80px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.ul-links {
  list-style-type: none; /* Remove bullets from the list */
  padding: 0;
  margin: 0;
  margin-left: 12px;
}

.nav-btn {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
}

.nav-btn:hover {
  color: #3182ce;
  transition: all 0.3s ease-out;
}

.burger-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  display: none; /* Hide the icon by default */
}

.responsive-menu {
  position: absolute;
  top: 100%; /* Display at the bottom of the header */
  left: 0; /* Start from the left of the screen */
  width: 100%; /* Cover the full width of the screen */
  z-index: 10;
  background-color: white;
  min-height: 200px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0; /* Remove border radius */
}

.res-btn {
  padding: 0.5rem;
}

.res-btn a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .ul-links {
    list-style-type: none;  /* Remove bullets from the list in responsive mode */
    display: none; /* Hide the links on small screens */
  }

  .res-links{
    list-style-type: none; 
  }

  header {
    justify-content: flex-end;
  }

  .links {
    justify-content: space-between; /* Adjust alignment for small screens */
  }

  .burger-icon {
    display: block; /* Show the icon on small screens */
    cursor: pointer;
  }
}